* {
  margin: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
:root {
  --yellow_p: #f2ce05;
  --yellow_S: #bf9004;
  --blue_P: #2c7bbf;
  --blue_S: #1d3973;
  --black: #0d0d0d;
  --white: #ffffff;
}
body {
  font-family: "Comfortaa", cursive;
  background-color: var(--yellow_p);
  color: white;
}

.container_card {
  padding: 10px 0;
  gap: 15px;
  margin: 0 10px;
  min-height: 65vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 200px;
  min-width: 185px;
  width: 15vw;
  height: 400px;
  background-color: var(--white);
  border-radius: 25px;
  padding: 65px 0;
  z-index: 0;
}
.info_card {
  z-index: -1;
  background-color: var(--blue_P);
  height: 335px;
  border-radius: 25% 25% 25px 25px;
}
/* imagen del pokemon */
.img_card {
  min-height: 115px;
  position: relative;
  top: -60px;
  display: flex;
  z-index: 1;
  justify-content: center;
}
.img_card img {
  border: 5px solid rgba(255, 255, 255, 0.75);
  background-color: var(--blue_P);
  border-radius: 45%;
  width: 60%;
}
.img_card .img_shiny {
  display: block;
  position: absolute;
  z-index: 1;
  cursor: cell;
}
.img_card .img_normal {
  z-index: 2;
}
.img_card .img_shiny:hover {
  z-index: 3;
}
.img_card .img_normal:hover + .img_shiny {
  z-index: 3;
}

/* todos los datos  */
.details_card {
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
/* nombre del pokemon  */
.name_card {
  margin-top: -5px;
  border-bottom: 4px dotted white;
  height: fit-content;
  text-align: center;
}
.name_card h2 {
  font-size: 1.5vmax;
}

/* datos del peso y altura */
.Basic_data {
  width: 100%;
  display: flex;
  margin-top: 5px;
  font-size: 12px;
  justify-content: space-evenly;
}
.Basic_data p {
  display: flex;
  width: 55px;
  flex-direction: column;
  align-items: center;
}

/* los tipos del pokemon */
.types {
  margin-top: 5px;
  display: flex;
  gap: 3px;
}
.types * {
  border-radius: 8px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* estrella */

/* .star {
  position: fixed;
}
.star svg {
  fill: #7e7e7e;
  filter: drop-shadow(3px 3px rgba(68, 68, 68, 0.75));
  filter: blur(1px); 
  top: -50px;
  position: relative;
  left: 150px;
}
.star svg.legedary {
  fill: gold;
} */
